<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="newTodo.text" placeholder="new Todo">
        <button @click="addTodo">Ekle</button>
        <table>
            <thead>
                <tr>
                    <td>sira</td>
                    <td>yapilacak</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(todo, index) in todoList">
                    <td>
                        {{index + 1}}
                    </td>
                    <td>
                        {{ todo.text }}
                    </td>
                    <td>
                        <button @click="removeTodo(todo)">Sil</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>